# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore build artifacts
build/
dist/

# Ignore user-specific files
.DS_Store
Thumbs.db

# Ignore npm debugging logs
npm-debug.log
yarn-debug.log
yarn-error.log


